.cabezera .logo{
    width: 400px;
    height: 200px;
}

.cabezera h1{
    text-align: center;
}
.cabezera *{
    background: #BCCCCC;
}

.items .navegacion *{
    transform: translate(0%, 5%);
    width: 50%;
}
.seccion1 .articulo1 h3{
    background: #CCCCCC;
    transform: translate(50%, -1200%);
    width: 45%;
}

.seccion1 .articulo1 .parrafo1{
    transform: translate(50%, -150%);
    width: 45%;
}
.seccion1 .articulo1 .figura .img1{
    width: 400px;
    height: 200px;
    transform: translate(65%, -115%);
}

.seccion1 .articulo1 .figura2 .img2{
    width: 400px;
    height: 200px;
    transform: translate(65%, -90%);
}


.seccion1 .articulo1 .parrafo2{
    transform: translate(50%, -620%);
    width: 45%;
}

.seccion1 .articulo1 .parrafo3{
    transform: translate(50%, -250%);
    width: 45%;
}


.seccion1 .aside2 {
    border: 1px solid black;
    transform: translate(329%, -600%);
    width: 23%;
}

.datos p{
    border: 3px blue double;
    transform: translate(4%, -20%);
    width: 93%;
    height: 30px;
}

.seccion2 p{
    transform: translate(50%, -500%);
    width: 45%;
}



.seccion2 .aside3{
    border: 1px solid black;
    transform: translate(329%, -590%);
    width: 23%;
}
