.cabezera h1{
    text-align: center;
}


.items .navegacion *{
    background: #CCCCCC;
    margin: 15px;
    width: 12%;
}
.seccion1 .articulo1 h1{
    background: #CCCCCC;
    transform: translate(50%, -630%);
    width: 45%;
}

.seccion1 .articulo1 .parrafo1{
    transform: translate(50%, -400%);
    width: 45%;
}
.seccion1 .articulo1 .figura .img1{
    width: 400px;
    height: 200px;
    transform: translate(65%, -80%);
}

.seccion1 .articulo1 .figura p{
    transform: translate(130%, -890%);
    width: 25%;
}

.seccion1 .aside1 {
    background: #CCCCCC;
    transform: translate(395%, -450%);
    width: 20%;
}

.seccion1 .aside2 {
    background: #CCCCCC;
    transform: translate(550%, -2000%);
    width: 15%;
}
